In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sklearn
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import statistics as es 
import csv
import re 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [803]:
censo17.shape

(11751419, 6)

## ENEM  DATASET

In [882]:
#Choose just useful features for us 
fenem= ['NU_INSCRICAO','CO_ESCOLA','Q001','Q002', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']
enem17=pd.read_csv("~/data/Enem/MICRODADOS_ENEM_2017.csv", sep=';',encoding="iso-8859-2", usecols = fenem)
enem18=pd.read_csv("~/data/Enem/MICRODADOS_ENEM_2018.csv", sep=';',encoding="iso-8859-2", usecols = fenem)

In [694]:
#category=(['NU_INSCRICAO','CO_ESCOLA','Q001','Q002'])
#enem17[category]= enem17[category].astype('category')

In [883]:
enem17 = enem17.copy()
enem18 = enem18.copy()

In [885]:
#How many Students left? How many schools are they in?
print ("There are", enem17.shape[0], "students",  "of", enem17.CO_ESCOLA.value_counts().count() ,"Schools in ENEM 2017")
#enem17.head()

print ("There are", enem18.shape[0], "students",  "of", enem18.CO_ESCOLA.value_counts().count() ,"Schools in ENEM 2018")
#enem18.head()

There are 6731341 students of 33834 Schools in ENEM 2017
There are 5513747 students of 32253 Schools in ENEM 2018

### Set last quartile of average scores as the best students

In [886]:
#first, drop out those whithout schools 
enem17.dropna(inplace = True, axis=0, subset=['CO_ESCOLA'])
enem18.dropna(inplace = True, axis=0, subset=['CO_ESCOLA'])

In [887]:
#Second, drop out insufficient scores 
fields = (['NU_NOTA_CN', 'NU_NOTA_CN','NU_NOTA_CN','NU_NOTA_CN', 'NU_NOTA_REDACAO'])
# With NaN
enem17.dropna(inplace = True, axis=0, subset=fields)
enem18.dropna(inplace = True, axis=0, subset=fields)
# With 0
enem17 = enem17[~(enem17[fields] == 0).any(axis=1)]
enem18 = enem18[~(enem18[fields] == 0).any(axis=1)]

In [888]:
#Creating average of students in all fields
enem17['AVG_SCORE'] = (enem17.NU_NOTA_CN + enem17.NU_NOTA_CH + enem17.NU_NOTA_LC + enem17.NU_NOTA_MT + enem17.NU_NOTA_REDACAO)/5
enem18['AVG_SCORE'] = (enem18.NU_NOTA_CN + enem18.NU_NOTA_CH + enem18.NU_NOTA_LC + enem18.NU_NOTA_MT + enem18.NU_NOTA_REDACAO)/5

In [889]:
#Creating the average of all schools by each studentes score
enem17['AVG_SCORE_SCHOOL'] = enem17.groupby(['CO_ESCOLA'])['AVG_SCORE'].transform('mean') 
enem18['AVG_SCORE_SCHOOL'] = enem18.groupby(['CO_ESCOLA'])['AVG_SCORE'].transform('mean')

In [890]:
#Sorting out the shcool's scores in quartiles. The upper quartile will be the Good Schools.
enem17['TARGET'] = pd.qcut (enem17.AVG_SCORE_SCHOOL, 4, labels = [1,2,3,4]).map(lambda x : 0 if x!=4 else 1) 
enem18['TARGET'] = pd.qcut (enem18.AVG_SCORE_SCHOOL, 4, labels = [1,2,3,4]).map(lambda x : 0 if x!=4 else 1)

In [891]:
#It's right? 
print((enem17.TARGET==0).sum()/(enem17.TARGET.count())*100, '% lowers quartis in ENEM 2017')
print((enem18.TARGET==0).sum()/(enem18.TARGET.count())*100, '% lowers quartis in ENEM 2018')

75.00009542589339 % lowers quartis in ENEM 2017
75.00310581817226 % lowers quartis in ENEM 2018

## CENSO 2017 DATASET

In [801]:
#Choose just useful features for us
fcenso = ['CO_PESSOA_FISICA','NU_ANO_CENSO','IN_ESPECIALIZACAO','IN_MESTRADO','IN_DOUTORADO','CO_ENTIDADE']

#Reading data of Teachers in Censo 2017
CO=pd.read_csv("~/data/censo2017/DOCENTES_CO.CSV", sep='|', encoding="iso-8859-2", usecols = fcenso)
NE=pd.read_csv("~/data/censo2017/DOCENTES_NORDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = fcenso)
NT=pd.read_csv("~/data/censo2017/DOCENTES_NORTE.CSV", sep='|', encoding="iso-8859-2", usecols = fcenso)
SE=pd.read_csv("~/data/censo2017/DOCENTES_SUDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = fcenso)
SU=pd.read_csv("~/data/censo2017/DOCENTES_SUL.CSV", sep='|', encoding="iso-8859-2", usecols = fcenso)

In [802]:
#Concatening the subsets and creating a unique dataset, than transform all features and categories, as it are.
censo17= pd.concat([CO, NE, NT, SE, SU])
censo17=censo17.astype('category')

### Now, from grain teacher to school.
Get only teachers who work in secondary schools (based on ENEM)

In [839]:
#Some informations
print ("There are", censo17.drop_duplicates('CO_PESSOA_FISICA').shape[0], "Teachers",  "at", censo17.CO_ENTIDADE.value_counts().count() ,"Schools")
censo17.head()

There are 876962 Teachers at 30900 Schools

,CO_ESCOLA,TARGET,NU_ANO_CENSO,CO_PESSOA_FISICA,IN_ESPECIALIZACAO,IN_MESTRADO,IN_DOUTORADO,CO_ENTIDADE,TITULACAO
0,13079220.0,1,2017,122239104758,1.0,0.0,0.0,13079220,1
1,13079220.0,1,2017,115004097231,0.0,0.0,0.0,13079220,0
2,13079220.0,1,2017,117767630845,0.0,0.0,0.0,13079220,0
3,13079220.0,1,2017,121176966943,0.0,0.0,0.0,13079220,0
4,13079220.0,1,2017,121829895361,0.0,0.0,0.0,13079220,0

In [838]:
#It's necessary drop duplicates whose are teachers in the same school but in different classes. 
#This way, the teacher appear just one time in each school. Teacher grain.
censo17.drop_duplicates(subset=['CO_PESSOA_FISICA', 'CO_ENTIDADE'], inplace=True)
censo18.drop_duplicates(subset=['CO_PESSOA_FISICA', 'CO_ENTIDADE'], inplace=True)

In [807]:
#getting the schools represented in ENEM
schoolsEnem = enem17.drop_duplicates('CO_ESCOLA')
schoolsEnem = schoolsEnem[(['CO_ESCOLA','TARGET'])]
#schoolsEnem.astype('category', inplace=True)

In [808]:
#Merge the two datasets, whereas that only teachers who work in school represented in ENEM 17
censo17= pd.merge(schoolsEnem, censo17, left_on='CO_ESCOLA', right_on='CO_ENTIDADE', how='inner')

In [809]:
censo17.isnull().sum()

CO_ESCOLA                 0
TARGET                    0
NU_ANO_CENSO              0
CO_PESSOA_FISICA          0
IN_ESPECIALIZACAO    117764
IN_MESTRADO          117764
IN_DOUTORADO         117764
CO_ENTIDADE               0
dtype: int64

In [810]:
#Missing values in these cases are "0" 
censo17['IN_ESPECIALIZACAO'].fillna(0.0, inplace=True)
censo17['IN_MESTRADO'].fillna(0.0, inplace=True)
censo17['IN_DOUTORADO'].fillna(0.0, inplace=True)
censo17.isnull().sum()

CO_ESCOLA            0
TARGET               0
NU_ANO_CENSO         0
CO_PESSOA_FISICA     0
IN_ESPECIALIZACAO    0
IN_MESTRADO          0
IN_DOUTORADO         0
CO_ENTIDADE          0
dtype: int64

In [812]:
#In database have different patterns to represent level of education. ex: Master has signed in two different ways, or marked in Master and Especialization or just in Master.
def education_level(df):
    if (df.IN_ESPECIALIZACAO==0.0) & (df.IN_MESTRADO==0.0) & (df.IN_DOUTORADO ==0.0):
        #print(0)
        df['TITULACAO']= 0
    elif (df.IN_ESPECIALIZACAO==1.0) & (df.IN_MESTRADO==0.0) & (df.IN_DOUTORADO ==0.0):
        #print(1)
        df['TITULACAO']= 1
    elif (df.IN_ESPECIALIZACAO==1.0) & (df.IN_MESTRADO==1.0) & (df.IN_DOUTORADO ==0.0):
        #print(2)
        df['TITULACAO']= 2
    elif (df.IN_ESPECIALIZACAO==0.0) & (df.IN_MESTRADO==1.0) & (df.IN_DOUTORADO ==0.0):
        #print(2)
        df['TITULACAO']= 2
    else:
        #print(3)
        df['TITULACAO']= 3  
    return df

In [813]:
#censo17.apply(education_level)
censo17=censo17.apply(education_level, axis=1)

In [814]:
censo17

,CO_ESCOLA,TARGET,NU_ANO_CENSO,CO_PESSOA_FISICA,IN_ESPECIALIZACAO,IN_MESTRADO,IN_DOUTORADO,CO_ENTIDADE,TITULACAO
0,13079220.0,1,2017,122239104758,1.0,0.0,0.0,13079220,1
1,13079220.0,1,2017,115004097231,0.0,0.0,0.0,13079220,0
2,13079220.0,1,2017,117767630845,0.0,0.0,0.0,13079220,0
3,13079220.0,1,2017,121176966943,0.0,0.0,0.0,13079220,0
4,13079220.0,1,2017,121829895361,0.0,0.0,0.0,13079220,0
...,...,...,...,...,...,...,...,...,...
1082363,31331538.0,0,2017,130124441300,0.0,0.0,0.0,31331538,0
1082364,31331538.0,0,2017,123324739550,0.0,0.0,0.0,31331538,0
1082365,31331538.0,0,2017,114560797861,0.0,0.0,0.0,31331538,0
1082366,31331538.0,0,2017,123437395520,0.0,0.0,0.0,31331538,0
1082367,31331538.0,0,2017,124191408770,0.0,0.0,0.0,31331538,0

##### We will transform the ENEM and CENSO (Table Teachers) database to decision grain (School). This way ,is necessary transforming the Q001 and Q002 (ENEM) that are in the student grain, and education level (TITULACAO in CENSO) that are in teacher grain. Instead the pratical use of MODE, it will use the regression on the attribute distribution having its histogram relative frequencies as input and the  decision level TARGET as output.

In [892]:
def relative_frequencies(df, colum):
    root = (['CO_ESCOLA', 'TARGET'])
    df = df [root + [colum]]
    df = pd.get_dummies(df, columns=[colum])
    filter_col = [col for col in df if col.startswith(colum)]
    print (filter_col)
    for x in filter_col:            
        df[x] = df.groupby(df['CO_ESCOLA'])[x].transform(sum)/ df.groupby(df['CO_ESCOLA'])[x].transform('count')
        
    return df

In [893]:
def LR_learn_apply_estudent (df1, df2):
    colum = (['Q001', 'Q002'])
    result = pd.DataFrame()
    for x in colum:
        #print(df1[x])
        temp = relative_frequencies(df1,df1[x].name)
        temp.drop_duplicates('CO_ESCOLA', inplace=True)
        temp = temp.loc[:, ~temp.columns.isin(['CO_ESCOLA'])]
        temp_DATA = temp.loc[:, temp.columns != 'TARGET']
        temp_TARGET = temp.loc[:, temp.columns == 'TARGET']
        
        LR_temp = LogisticRegression()
        LR_temp.fit(temp_DATA, temp_TARGET)
        print("Aprendi")
        
        
        temp = relative_frequencies(df2,df2[x].name)
        temp.drop_duplicates('CO_ESCOLA', inplace=True) # v se funciona o inplace
        temp = temp.loc[:, ~temp.columns.isin(['CO_ESCOLA'])]
        temp_DATA = temp.loc[:, temp.columns != 'TARGET']
        
        result[x] =  LR_temp.predict_proba(temp_DATA)[:,1]
        print("Apliquei")
       
        #da um join desse x[] com o df2 e retona um frame com todas as novas colunas e o cod_escola
    result = pd.merge(result, df2.CO_ESCOLA, left_index=True, right_index=True)
        
    return result

In [894]:
LR_learn_apply_student(enem17, enem18)

['Q001_A', 'Q001_B', 'Q001_C', 'Q001_D', 'Q001_E', 'Q001_F', 'Q001_G', 'Q001_H']
Aprendi
['Q001_A', 'Q001_B', 'Q001_C', 'Q001_D', 'Q001_E', 'Q001_F', 'Q001_G', 'Q001_H']
Apliquei
['Q002_A', 'Q002_B', 'Q002_C', 'Q002_D', 'Q002_E', 'Q002_F', 'Q002_G', 'Q002_H']
Aprendi
['Q002_A', 'Q002_B', 'Q002_C', 'Q002_D', 'Q002_E', 'Q002_F', 'Q002_G', 'Q002_H']
Apliquei

           Q001      Q002   CO_ESCOLA
8      0.282567  0.407099  23077140.0
16     0.148958  0.187879  23265795.0
26     0.049225  0.076931  25077759.0
29     0.106147  0.085413  22022040.0
39     0.237827  0.255389  35907224.0
...         ...       ...         ...
30792  0.480665  0.347342  26178230.0
30795  0.985250  0.990007  35046361.0
30800  0.003315  0.005671  15134580.0
30808  0.480665  0.347342  26013436.0
30817  0.004309  0.000580  13026577.0

[4448 rows x 3 columns]

enem18_transform.dtype()

In [873]:
Q001 = relative_frequencies(enem17, enem17.Q001.name)
Q001 = Q001.drop_duplicates_trLR_Q001 = LogisticRegression()
LR_Q001.fit(Q001_DATA, Q001_TARGET)

['Q001_A', 'Q001_B', 'Q001_C', 'Q001_D', 'Q001_E', 'Q001_F', 'Q001_G', 'Q001_H']

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [772]:
Q002 = relative_frequencies(enem17, enem17.Q002.name)
Q002 = Q002.drop_duplicates('CO_ESCOLA')
Q002 = Q002.loc[:, ~Q002.columns.isin(['CO_ESCOLA'])]
Q002_DATA = Q002.loc[:, Q002.columns != 'TARGET']
Q002_TARGET = Q002.loc[:, Q002.columns == 'TARGET']

from sklearn.linear_model import LogisticRegression
LR_Q002 = LogisticRegression()
LR_Q002.fit(Q002_DATA,Q002_TARGET)

['Q002_A', 'Q002_B', 'Q002_C', 'Q002_D', 'Q002_E', 'Q002_F', 'Q002_G', 'Q002_H']

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [816]:
TITULACAO = relative_frequencies(censo17, censo17.TITULACAO.name)
TITULACAO = TITULACAO.drop_duplicates('CO_ESCOLA')
TITULACAO = TITULACAO.loc[:, ~TITULACAO.columns.isin(['CO_ESCOLA'])]
TITULACAO_DATA =TITULACAO.loc[:, TITULACAO.columns != 'TARGET']
TITULACAO_TARGET = TITULACAO.loc[:, TITULACAO.columns == 'TARGET']

from sklearn.linear_model import LogisticRegression
LR_TITULACAO = LogisticRegression()
LR_TITULACAO.fit(TITULACAO_DATA, TITULACAO_TARGET)

['TITULACAO_0', 'TITULACAO_1', 'TITULACAO_2', 'TITULACAO_3']

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [866]:
LR_Q002.predict_proba(Q002_DATA)[:,1]

array([7.89073260e-01, 9.65943578e-02, 1.18646779e-01, ...,
       4.81591932e-02, 3.47341874e-01, 5.79680441e-04])